@charset "utf-8";
/* pc서식 */
/* 헤더 영역 */
header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    /* background-color: rgb(255, 255, 255); */
    /* position: sticky; top: 0px; */
    border-bottom: 1px solid #ccc;
    z-index: 1000;
}
.pagew{
    position: relative;
    width: 100%;
    height: 100px;
    /* max-width: 1200px; min-width: 1200px */
    margin: 0 auto;
    background-color: rgba(0,0,0,0.2);
}
.pagew > h1{
    position: absolute;
    left: 13%; top:10%;
}
.gnb{
    position: absolute;
    top:50%;
    left: 55%;
    transform:translate(-50%,-50%);
    /* background-color: chocolate; */
}
.gnb ul li:last-child img{
    height: 70px;
    position:absolute;
    top:-20px;
    
}
.gnb > ul{
    display: flex;
    justify-content: end;
    position:relative;
}
.gnb > ul > li{
    margin-right: 10px;
    position: relative;
    width:140px;
    /* margin: 10px; */
}
.gnb > ul > li >a{
    font-size: 20px;
    margin: 0px auto;
    margin-right: 30px;
    font-weight: bold;
    color:#eeecec;
    transition: 0.3s;
}
.gnb > ul > li > a:hover{
    font-weight: bold;
    color: rgb(253, 99, 43);
}
.utillmenu{
    position: relative;
}
.mypage-group{
    position: absolute;
    display: flex;
    width: 155px;
    right: 200px;
    top:35px;
    /* background-color: rebeccapurple; */
}
.mypage-group .ico-person{
    width:30px; height:30px;
    background-image: url(../images/ico_person.png);
    background-size: 25px 25px;
    cursor: pointer;
}
i[class^="ico"]{
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}
.fa-globe{
    font-size: 25px;
    margin: 5px 30px;
    font-weight: bold;
    color: #ffffff;
    /* display: inline-block; */
    width: 55px;
    cursor: pointer;
    /* background-color: #333; */
}
label.fa-bars{
    display: block;
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 33px;
    margin-left: 120px;
    cursor: pointer;
}
/* 메인 홈 화면 */
main{
    /* background-color: #05744f; */
}
main > .m_home{
    width: 100%;
}
main > section{
    height: calc(100vh-100px);
    /* background-color: rgb(8, 83, 181); */
    /* margin: 40px 0px; */
}
/* 홈메인화면 애니메이션 */
.home_ani{
    /* width: 1200px; */
    /* height: 1037px; */
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    /* background-color: burlywood; */
}
.ani_txt{
    position: absolute;
    width: 700px;
    z-index: 1;
    /* left: -700px; */
    top:300px;
    /*원래위치*/
    /* top:170px;
    left:20px;  */
}
/* 슬라이드 제이쿼리 */
.slide{
    width:100%;
    /* border-radius:50%; */
    overflow:hidden;
    /* margin: 24% 65%; */
    /* border:1px solid #ccc; */
    /* background-color: rgb(109, 48, 48); */
  }
  .slide > ul{
      width: 100%;
    /* width:3600px; */
    /* width:1200px;height:900px; */
    display:flex;
  }
  .slide > ul > li{
    width:100%;
    /* height:300px; */
    position:relative;
  }
  .slide > ul > li > h3{
    position:absolute;
    background-color:#00c73cad;
    color:#fff;
    font-size:20px;
    padding:10px 15px;
    border-radius:20px;
    left:50%;top:50%;
    transform:translate(-50%, -50%);
  }
  /* 메인슬라이드 콘텐츠 */
  .m_content{
      position: relative;
      content:'';
      top: -480px;
      left: 200px;
  }
  .m_btn{
      position: absolute;
      width: 120px;
      height: 40px;
      line-height: 40px;
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      border-radius: 30px;
      transition: 0.5s;
      background-color: #1AB7EA;
      cursor: pointer;
  }
  .m_btn:hover{
      background-color: #1B2E5A;
  }
  .search{
      position: absolute;
      width: 200px;
      height: 40px;
      text-align: center;
      top:70px;
      background-color: rgba(223, 215, 215, 0.01);
      border: 2px solid #fff;
      color: #fff;
      font-size: 14px;
      line-height: 40px;
      font-weight: 700;
  }
  input::-webkit-input-placeholder{
      color: #fff;
    }
  .fa-search{
    position: absolute;
    font-size: 18px;
    top:81px; left:165px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.tag_list{
    position: absolute;
    display: flex;
    top:125px;
}
.tag_list li{
    margin-right: 10px;
}
.tag_list li a{
    color:#fff;
}
.tag_list li a:hover{
    font-weight: bold;
    text-decoration:underline;
}
/* 사이드 버튼 */
/* .wrap{
    position: relative;
    width: 1903px;
    content: "";
} */
.visual-wrap{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: calc(100% - 87px);
    top:10%;
    left: 76.8%;
    bottom: 0;
    border-top: none;
    border-bottom: none;
    /* border-left: 1px solid rgba(255,255,0.4); */
    color: #fff;
    overflow: hidden;
    transition: left .6s ease-in-out, .5s ease-in-out;
}
.side-btn-wrap{
    width: 23.2%;
    height: 100%;
    float: left;
    z-index: 2;
    border-right: 1px solid rgba(255,255,255,0.4);
}
.btn{
    position: relative;
    width: 100%;
    height: 25%;
    display: block;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    transition:  0.2s cubic-bezier(0.84, 0.25, 0.17, 0.77);
}
/* 버튼내용 */
.btn .txt{
    font-size: 28px;
    letter-spacing: -0.7px;
    vertical-align: middle;
    display:inline-block;
    position: relative;
    color:#333;
}
/* ABOUT 영역 */
/* 시멘틱 레이아웃 */
.about{
    background-color: #fcfcee;
    width:100%;
    margin: 0px auto;
}
.logo_info{
    /* background-color: hsl(60, 61%, 83%); */
    width: 1200px;
    height: 468.5px;
    margin: 0px auto;
    position: relative;
}
.self_intro{
    /* background-color: rgb(236, 164, 250); */
    position: relative;
    width: 1200px;
    height: 468.5px;
    margin: 0px auto;
}
/* 로고 및 자기소개 */
.logo_info > img{
    position: absolute;
    width: 300px;
    transform: translate(50%,55%);
}
.logo_info > h2:first-child{
    position: absolute;
    top:23%; left: 15%;
    transform: translateY(50%);
    /* top:14%; left:28%; */
    font-size: 24px;
}
.logo_info > .logo_mean{
    position: absolute;
    top:45%; left: 40%;
    color: rebeccapurple;
}
.logo_info > p{
    position: absolute;
    top:56%; left: 40%;
    font-size: 15px;
    line-height: 26px;
}
/* 셀프 자기 소개 */
.self_intro > h2{
    font-size: 24px;
    position: absolute;
    transform: translateX(-50%);
    top:5%; 
    left: 50%;
}
.self_intro > img{
    position: absolute;
    top:17%; left: 15%;
}
/* 장점 영역 */
/* 레이아웃 */
.advtg{
    background-color: #d7fafc;
    /* background-color: #C8FDFF; */
    width: 100%;
}
.ad_01{
    width: 1200px;
    height: 518.5px;
    margin: 0px auto;
    position: relative;
    /* background-color: rgb(236, 185, 167); */
}
.ad_02{
    width: 1200px;
    height: 418.5px;
    margin: 0px auto;
    position: relative;
    /* background-color: rgb(150, 226, 157); */
}
/* 첫번째 장점 */
.ad_01 > img{
    position: absolute;
    width: 230px;
    top:31%;
    left: 10%;
}
.ad_01 > h2{
    font-size: 24px;
    position: absolute;
    transform: translateX(-50%);
    top:23%; 
    left: 50%;
}
.ad_01 > h3{
    font-size: 50px;
    position: absolute;
    transform: translateX(-50%);
    top:33%; 
    left: 44%;
}
.ad_01 > p{
    position: absolute;
    top:50%; left: 31%;
    font-size: 16px;
    line-height: 26px;
    padding-left: 40px;
}
.advan_box01{
    display: flex;
    width: 500px;
    position: relative;
    top:74%; left: 34%;
}
.advan_btn01, .advan_btn02{
    font-size: 14px;
    text-align: center;
    padding:10px 25px;
    margin-right: 50px;
    width: 80px;
    letter-spacing: 0.25px;
    border-radius: 50px;
    border: 0.25px solid rgb(170, 170, 170);
    background-color: #D9FFC4;
}
/* 두번째 장점 */
.ad_02 > img{
    position: absolute;
    width: 230px;
    right: 0%;
}
.ad_02 > h3{
    font-size: 50px;
    position: absolute;
    transform: translateX(-50%);
    top:6%; 
    left: 22%;
}
.ad_02 > p{
    position: absolute;
    top:27%; left: 8%;
    font-size: 16px;
    line-height: 26px;
    padding-left: 40px;
}
.advan_box02{
    display: flex;
    position: relative;
    top:63%; left: 11%;
    width: 500px;
}
.advan_btn03, .advan_btn04{
    font-size: 14px;
    text-align: center;
    padding:10px 25px;
    margin-right: 50px;
    width: 80px;
    letter-spacing: 0.25px;
    border-radius: 50px;
    border: 0.25px solid rgb(170, 170, 170);
    background-color: #D9FFC4;
}
.advan_btn01:hover, .advan_btn02:hover{
    background-color: pink
}
.advan_btn03:hover, .advan_btn04:hover{
    background-color: pink
}
/* 스킬영역 */
.skill{
    background-color: #e2fad4;
    /* background-color: #EAFFDF; */
    position: relative;
    height: calc(100vh-100px);
}
.skill h2{
    font-size: 50px;
    position: absolute;
    transform: translateX(-50%);
    top:17%; 
    left: 50%;
}
.skill .skill_box{
    width: 1200px;
    margin: 0px auto;
    /* position: absolute; */
    padding-top:15%;

}
.skill ul{
    height: 670px;
    width: 757px;
    /* background-color: rgb(199, 155, 243); */
}
.skill ul li{
    height: 108px;
    width: 480px;
    float: left;
    margin: 30px 5% 0px 5%;
}
.skill ul li h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.skill ul li p{
    font-size: 13.5px;
}
.skill ul li img{
    float: left;
    width: 100px;
    margin-right:35px;
    margin-top:-12px;
}
.skill li p{
    /* position: absolute; */
    font-size: 13px;
    line-height: 22px;
    /* padding-left: 40px; */
}
.skill li .info{
    float: left;
}
/* 프로젝트 영역 */
.project{
    background-color: #ffecf2;
    height: calc(100vh-100px);
    position: relative;
}
.project h2{
    font-size: 50px;
    position: absolute;
    transform: translateX(-50%);
    top:19%; 
    left: 50%;
}
.project ul{
    display: flex;
    justify-content: center;
    padding-top:16%;
}
.project div{
    padding-bottom: 75px;
}
.project ul li img{
    width: 500px;
}
/* bhc */
.bhc{
    position: relative;
}
.bhc .btn_bhc{
    position: absolute;
    left:70px;
    /* bottom:-140px; */
}
.btn_bhc h3{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    line-height: 45px;
    margin-bottom: 10px;
}
.btn_bhc p{
    font-size: 14px;
    width: 400px;
    text-align: center;
    padding-bottom: 35px;
}
.bhc div a{
    left:200px;
    background-color: rgb(253, 99, 43);
    color:#fff;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
    margin-right: 0px;
    margin-left: 42px;
    text-align: center;
}
.bhc div a:hover{
    background-color: #fff;
    border: 1px solid rgb(253, 99, 43);
    transition: 0.3s;
    color:rgb(253, 99, 43);
    font-weight: bold;
}
/* 아날로그 한옥 */
.analog{
    position: relative;
}
.analog .btn_analog{
    position: absolute;
    left:70px;
    /* bottom:-140px; */
}
.btn_analog h3{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    line-height: 45px;
    margin-bottom: 10px;
}
.btn_analog p{
    font-size: 14px;
    width: 400px;
    text-align: center;
    padding-bottom: 35px;
}
.analog div a{
    left:200px;
    background-color: rgb(253, 99, 43);
    color:#fff;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
    margin-right: 0px;
    margin-left: 38px;
    text-align: center;
}
.analog div a:hover{
    background-color: #fff;
    border: 1px solid rgb(253, 99, 43);
    transition: 0.3s;
    color:rgb(253, 99, 43);
    font-weight: bold;
}
/* 아날로그 한옥 */
.spc{
    position: relative;
}
.spc .btn_analog{
    position: absolute;
    left:70px;
    bottom:-140px;
}
.btn_spc h3{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    line-height: 45px;
    margin-bottom: 10px;
}
.btn_spc p{
    font-size: 14px;
    width: 400px;
    text-align: center;
    padding-bottom: 35px;
    padding-left:45px;
}
.spc div a{
    left:200px;
    background-color: rgb(253, 99, 43);
    color:#fff;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
    margin-right: -14%;
    margin-left: 22%;
    text-align: center;
}
.spc div a:hover{
    background-color: #fff;
    border: 1px solid rgb(253, 99, 43);
    transition: 0.3s;
    color:rgb(253, 99, 43);
    font-weight: bold;
}
/* 갤러리 영역 */
.instar{
    width:1000px;
    margin:70px auto;
    height: calc(100vh-100px);
    background-color: bisque;
    position: relative;
  }
  .instar > article{
      position:absolute;
      
  }
  .instar > article > h2{
    text-align:center;
    font-size:24px;
    font-weight:400;
    margin-top: 10%;
    margin-bottom:30px;
  }
  .instar > h2 i.fab{padding-right:3px}
  .instar ul{
    display:grid;
    padding:10px;
    grid-gap:10px;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(3, 240px);
  }
  .instar ul li{overflow:hidden;}
  .instar ul img{
    width:250px;
    object-fit:cover;
    transition:0.5s;
  }
  .instar ul img:hover{
    transform:scale(1.2);
    opacity:0.7;
  }
  .instar .name{
    font-size:12px;
    display:block;
    padding-top:5px;
  }
/* 푸터 영역 */
footer{
    position: relative;
    /* top: 340px; */
    top: 1000px;
    height: 170px; 
    background-color: #333;
}
.f_box{
    position:relative;
    width: 1280px;
    height: 170px;
    margin: 0px auto;
}
.f_box > p{
    position: relative;
    top: 60px;
    color: #ccc;
    font-size: 12px;
    text-align: center;
    line-height: 23px;
    letter-spacing:2px;
}
.f_box > a > img{
    position: relative;
    top: 47px;
    left: 597px;
    width: 22px;
    margin-left: 14px;
}